<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Cordtec
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="stylesheet", href="css/swiper-bundle.min.css")
	body
		include parts/hero

		script(src="js/swiper-bundle.min.js") 
		script(src="js/main.js")
