mixin hls-i(img, title, desc)
	.swiper-slide
		.hero-slider__item
			.hero-slider__item-img
				img(src=img, alt="")
			.hero-slider__item-body
				.hero-slider__item-title=title
				.hero-slider__item-desc=desc
				a(href="#").hero-slider__item-btn Смотреть


section.hero
	.container
		h1 WTWatch

		.hero-slider
			.swiper-wrapper
				+hls-i('img/hero-2.jpg', 'Кто я', 'Бенджамин — молодой компьютерный гений. С детства он мечтает стать супергероем из комиксов и покорить мир. Но в реальном мире он — Никто. Его жизнь неожиданно меняется, когда он встречает свою полную противоположность — харизматичного парня Макса.')
				+hls-i('img/hero-1.jpg', 'Мистер Робот', 'Угрюмый хакер борется с капитализмом и самим собой. Революционный технотриллер с Рами Малеком')
				+hls-i('img/hero-3.jpg', 'Джентльмены', 'Талантливый выпускник Оксфорда, применив свой уникальный ум и невиданную дерзость, придумал нелегальную схему обогащения с использованием поместья обедневшей английской аристократии. Однако когда он решает продать свой бизнес влиятельному клану миллиардеров из США, на его пути встают не Талантливый выпускник Оксфорда, применив свой уникальный ум и невиданную дерзость, придумал нелегальную схему')

						
